<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="FileToProcess" value="C:\SQLAzureMW\BCPData\Northwind2.sql"/>
    <add key="OutputResultsFile" value="C:\SQLAzureMW\BCPData\Output.sql"/>
    <add key="NoConsoleLogging" value="false"/>
    <add key="NotSupportedByAzureFileName" value="NotSupportedByAzureFile.Config"/>    <!-- General Options -->
    <add key="ScriptDefaults" value="true"/>
    <add key="ScriptHeaders" value="false"/>
    <add key="IncludeIfNotExists" value="true"/>
    <add key="ScriptDropCreate" value="SOSCreate"/>                   <!-- SOSCreate = "Script CREATE",
                                                                           SOSDrop = "Script DROP",
                                                                           SOSDropCreate = "Script DROP and CREATE" -->
    <!-- Table / View Options -->
    <add key="ScriptTableAndOrData" value="ScriptOptionsTableSchemaData"/>   <!-- ScriptOptionsTableSchema = "Table Schema Only",
                                                                                  ScriptOptionsTableSchemaData = "Table Schema with Data",
                                                                                  ScriptOptionsTableData = "Data Only" -->
    <add key="ScriptCheckConstraints" value="true"/>
    <add key="ScriptCollation" value="true"/>
    <add key="ScriptForeignKeys" value="true"/>
    <add key="ScriptIndexes" value="true"/>
    <add key="ScriptPrimaryKeys" value="true"/>
    <add key="ScriptUniqueKeys" value="true"/>
    <add key="ScriptTableTriggers" value="true"/>                    <!-- Check For Options-->
    <add key="ActiveDirectorySP" value="false"/>
    <add key="BackupandRestoreTable" value="false"/>
    <add key="ChangeDataCapture" value="false"/>
    <add key="CompatibilityChecks" value="ScriptOptionsOverride"/>   <!-- ScriptOptionsOverride = "Override: Perform All Compatibility Checks",
                                                                          ScriptOptionsUseDefault = "Use Default Settings",
                                                                          ScriptOptionsOverrideNot = "Override: Do Not Perform Compatibility Checks" -->
    <add key="CursorSPs" value="false"/>
    <add key="DatabaseEngineSP" value="false"/>
    <add key="DatabaseMailSP" value="false"/>
    <add key="DatabaseMaintenancePlan" value="false"/>
    <add key="DataControl" value="false"/>
    <add key="DistributedQueriesSP" value="false"/>
    <add key="FullTextSearchSP" value="false"/>
    <add key="GeneralExtendedSPs" value="false"/>
    <add key="GeneralTSQL" value="true"/>
    <add key="IntegrationServicesTable" value="false"/>
    <add key="LogShipping" value="false"/>
    <add key="MetadataFunction" value="false"/>
    <add key="OLEAutomationSP" value="false"/>
    <add key="OLEDBTable" value="false"/>
    <add key="ProfilerSP" value="false"/>
    <add key="ReplicationSP" value="false"/>
    <add key="ReplicationTable" value="false"/>
    <add key="RowsetFunction" value="false"/>
    <add key="SecurityFunction" value="false"/>
    <add key="SecuritySP" value="false"/>
    <add key="SQLMailSP" value="false"/>
    <add key="SQLServerAgentSP" value="false"/>
    <add key="SQLServerAgentTable" value="false"/>
    <add key="SystemCatalogView" value="false"/>
    <add key="SystemFunction" value="false"/>
    <add key="SystemStatisticalFunction" value="false"/>
    <add key="Unclassified" value="false"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup><supportedRuntime version="v2.0.50727"/></startup>
</configuration>
